.contact {
  margin: 3rem 2rem;
}
.contact .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted gray;
}
.heading h2 {
  font-size: 26px;
}
.contact section h4 {
  font-size: 21px;
  color: white;
}
.contact article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-bottom: 2px dotted gray;
  padding-bottom: 4rem;
}
.login {
  display: flex;
  gap: 20px;
  width: 50%;
}
.desc{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.login input,
.desc textarea {
  width: 50%;
  padding: 8px 8px 15px;
  border: 2px solid yellow;
  outline: none;
  color: white;
  box-sizing: border-box;
  background: transparent;
  font-size: 18px;
}
.desc textarea {
  height: 100px;
  resize: none;
}
.desc button {
  width: 150px;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  border: 2px solid yellow;
  background: transparent;
  font-size: 18px;
}

@media screen and (max-width:1000px) {
  .contact section h4 {
    text-align: center;
  }
  .contact article {
    align-items: center;
    width: 100%;
  }
   .login {
    flex-direction: column;
    width: 100%;
    gap: 40px;
    align-items: center;
  }
  .desc{
    align-items: center;
     width: 50%;
  }
 .desc textarea{
  width: 100%;
 }
.desc button{
  align-self: flex-start;
}
}
@media screen and (max-width:750px) {
   .desc{
     width: 70%;
  }
  .login input{
    width: 70%;
  }
}
@media screen and (max-width:501px) {
  .contact article {
    width: 100%;
  }
  .desc{
    width: 100%;
  }
  .login input,
.desc textarea {
  width: 100%;
}
.desc button {
  margin: auto;
}
}
